  </div>
  <div id="footer" class="container_6">
    <div class="grid_6">
      &copy; 2011 Bengt L&uuml;ers, Klaas Oetken, Ole Weitz | <a href="#">AGB</a> | <a href="#">FAQ</a>
    </div>
  </div>

  <!-- Javascript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.4.2.js"%3E%3C/script%3E'))</script>

  <!-- JQuery-Plugin to parse URL-parameters -->
  <script src="js/libs/jquery.getUrlParam.js"></script>

  <!-- scripts concatenated and minified via ant build script-->
  <script src="js/plugins.js"></script>
  <script src="js/script.js"></script>
  <!-- end concatenated and minified scripts-->


  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
  <![endif]-->

  <!-- yui profiler and profileviewer - remove for production -->
  <script src="js/profiling/yahoo-profiling.min.js"></script>
  <script src="js/profiling/config.js"></script>
  <!-- end profiling code -->

    <!-- Script to toggle #login and #register. -->
    <script>
        $("#signMeUp").click(function () {
            $("#login").toggle();
            $("#register").toggle();
        });
    </script>

    <!-- Script to toggle the content of <input />s. -->
    <script>
        $("#header input.noButton").click(function () {
            if (this.value == this.defaultValue){
                this.value = "";
            }
        });
        $("#header input").blur(function () {
            if (this.value == "") {
                this.value = this.defaultValue;
            }
        });
    </script>

<!-- Script to change the images on the wall accordingly to selection -->
    <script language="Javascript">
        $("#postEvent select").change(function () {
            var str = "";
            $("select option:selected").each(function () {
                str += $(this).text();
                $("#postEvent a[title='" + str + "']").toggle();
                $("#postEvent a[title!='" + str + "']").hide();
            });
        })
        .trigger('change');
    </script>

    <script language="Javascript">
        $("#wallPostForm").submit(
            function () {
                $.post(
                    "WallPostServlet",
                    $("#wallPostForm").serialize(),
                    function() {
                        var str = "";
                        $("#wallPostForm textarea").text(str);
                    }
                );
                 $("#postEvent").delay(1000).css("box-shadow", "0 0 0 #000").css("-moz-box-shadow", "0 0 0 #000").css("-webkit-box-shadow", "0 0 0 #000");
                return false;
            }
        );
    </script>

    <!-- append older events to eventStream -->
    <script>
        $("#olderEvents a").click(function () {
            id = $(document).getUrlParam("id");
            $.ajax({
                url: "EventStream.jsp?type=0&id=" + id,
                cache: false,
                success: function(html){
                    $('<div>' + html + '</div>').hide().appendTo("#eventStream").fadeIn(1000);
                }
            });
        });
    </script>

    <!--  -->
    <script>
        $("#postEvent textarea").focus(function () {
            $("#postEvent").css("box-shadow", "0 0 8px #000").css("-moz-box-shadow", "0 0 8px #000").css("-webkit-box-shadow", "0 0 8px #000");
        });
    </script>

  </body>
</html>
