/*
  HTML5 ✰ Boilerplate

  style.css contains a reset, font normalization and some base styles.

  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/*
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display:block;
}

nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

/* END RESET CSS */


/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  There are three custom edits:
   * remove arial, helvetica from explicit font stack
   * we normalize monospace styles ourselves
   * table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body { font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */

select, input, textarea, button { font:99% sans-serif; }

/* normalize monospace sizing
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/*
 * minimal base styles
 */


body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* set your base font here, to apply evenly */
  /* font-family: arial, sans-serif; */
}

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */
h1,h2,h3,h4,h5,h6 { }

/* always force a scrollbar in non-IE */
html { overflow-y: scroll; }


/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align: top; }

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre {
  padding: 15px;

  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

textarea { overflow: auto; } /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }

/* webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0;}

/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red;
 -webkit-box-shadow: 0px 0px 5px red;
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink. */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/*
 * Non-semantic helper classes
 */

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden { position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;
}
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }

/* 960Grid ------------------------------------------------------------------*/


/* Containers ---------------------------------------------------------------*/
.container_6 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;


}
/* Grid >> Children (Alpha ~ First, Omega ~ Last)----------------------------*/

.alpha {
  margin-left: 0 !important;
}
.omega {
  margin-right: 0 !important;
}

/* Grid >> Global -----------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6{
  display:inline;
  float: left;
  position: relative;
  margin-left: 16.0px;
  margin-right: 16.0px;
}

/* Grid >> 2 Columns --------------------------------------------------------*/

.container_6 .grid_1{
  width:128px;
}
.container_6 .grid_2{
  width:288px;
}
.container_6 .grid_3{
  width:448px;
}
.container_6 .grid_4{
  width:608px;
}
.container_6 .grid_5{
  width:768px;
}
.container_6 .grid_6{
  width:928px;
}

/* Prefix Extra Space >> 2 Columns ------------------------------------------*/

.container_6 .prefix_1 {
  padding-left:160px;
}
.container_6 .prefix_2 {
  padding-left:320px;
}
.container_6 .prefix_3 {
  padding-left:480px;
}
.container_6 .prefix_4 {
  padding-left:640px;
}
.container_6 .prefix_5 {
  padding-left:800px;
}

/* Suffix Extra Space >> 2 Columns ------------------------------------------*/

.container_6 .suffix_1 {
  padding-right:160px;
}
.container_6 .suffix_2 {
  padding-right:320px;
}
.container_6 .suffix_3 {
  padding-right:480px;
}
.container_6 .suffix_4 {
  padding-right:640px;
}
.container_6 .suffix_5 {
  padding-right:800px;
}

/* Push Space >> 2 Columns --------------------------------------------------*/

.container_6 .push_1 {
  left:160px;
}
.container_6 .push_2 {
  left:320px;
}
.container_6 .push_3 {
  left:480px;
}
.container_6 .push_4 {
  left:640px;
}
.container_6 .push_5 {
  left:800px;
}

/* Pull Space >> 2 Columns --------------------------------------------------*/

.container_6 .pull_1 {
  right:160px;
}
.container_6 .pull_2 {
  right:320px;
}
.container_6 .pull_3 {
  right:480px;
}
.container_6 .pull_4 {
  right:640px;
}
.container_6 .pull_5 {
  right:800px;
}

/* Clear Floated Elements ---------------------------------------------------*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}

/*
 * Media queries for responsive design
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {


  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

/*
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; }
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}



 /* Primary Styles
    Author: Bengt Lüers, Klaas Oetken, Ole Weitz
 */

img {
    /*margin-bottom:-3px;*/
}
p {
    margin-top:6px;
}
span.nobreak {
    white-space: nowrap;
}

.poller {
    border-top:solid 4px #444;
    width:960px;
    margin:0 auto;
}
#errorPage > h2 {
    font-weight: bold;
    font-size:20px;
}
#errorMessage {
    background:#eee;
    color:#444;
    border:solid #aaa;
    padding:4px;
    font-size:16px;
}

#header,
#landingPage,
#Dashboard,
#profilePage,
#errorPage,
#footer {
    background:#70a8b6 url('../images/rauschen.png') scroll;
}
/* ------------------------------------------------------------------- Header */
#header {
    padding:8px 0;
    height:22px;
    border-bottom-left-radius:8px;
    -moz-border-radius-bottomleft:8px;
    border-bottom-right-radius:8px;
    -moz-border-radius-bottomright:8px;
}
#login form,
#register form,
#loggedIn form {
    float:right;
}
#loggedIn span {
    float:right;
}
#header a {
    color:#fff;
    text-decoration:none;
    line-height:22px;
    padding:2px 4px;
}
#header a:hover {
    background:#fff;
    color:#444;
}
h1#breadcrumb {
    font-size:20px;
    color:#444;
}
h1#breadcrumb a {
    color:#fff;
    text-decoration:none;
}

#landingPage,
#Dashboard,
#profilePage,
#errorPage {
    margin-top:32px;
    margin-bottom:32px;
    padding:16px 0;
    border-radius:8px;
    -moz-border-radius:8px;
}
.onehunderedtwentyeight {
    width:128px;
    height:128px;
    display:block;
}
.textcenter {
    margin-left:auto;
    margin-right:auto;
}
.textfill {
    width:100%;
    display:block;
}
#landingPage div div div div div div div img {
    z-index:o;
    position:relative;
}
#landingPage #worldview h2 {
    position:relative;
    font-weight: bold;
    font-size: 16px;
    margin-bottom:-4px;
    z-index:1;
}
#landingPage #worldview a {
    text-decoration:none;
}
/* ---------------------------------------------------------------- Dashboard */
#Dashboard .profileLink {
    text-align:center;
    margin-bottom:0;
}
#Dashboard .profileLink .grid_1 {
    margin-top:32px;
}
#Dashboard .profileLink a {
    text-decoration:none;
    color:#444;
    font-size:16px;
}
#Dashboard .profileLink .grid_1:hover {
    background:#b5d0d0;
}
#Dashboard > div > div    {
    margin:16px;
    background:#b5d0d0;
    border-radius:4px;
    -moz-border-radius:4px;
}
.identity {
    background:#b5d0d0;
    border-radius:4px;
    -moz-border-radius:4px;
    height:144px;
}
.identity:hover {
   box-shadow:0 0 8px #000;
   -moz-box-shadow:0 0 8px #000;
   -webkit-box-shadow:0 0 8px #000;
}
.identity > h2 {
    font-weight: bold;
    font-size:16px;
    padding:7px 0 6px 0;
    text-align:center;
}
.identity img {
    width:96px;
    height:96px;
    margin-left:16px;
    margin-right:16px;
}
.identity-pseudo-img {
    width:96px;
    height:96px;
    margin-left:16px;
    margin-right:16px;
}
/* ----------------------------------------------------------------- Profile */
.profile {
    background:#b5d0d0;
    border-radius:4px;
    -moz-border-radius:4px;
    padding:0 16px 12px 16px;
}
.profile > img {
    width:256px;
    height:256px;
}
.profile > h2 {
    font-weight: bold;
    font-size:22px;
    padding:4px 0 5px 0;
    width:100%;
    text-align:center;
}
.profile h3 {
    margin:8px 0 4px 0;
    font-size:16px;
}
.profile ul {
    margin:8px 1.8em;
    padding:0;
}
#friendslist {
    height:64px;
    width:256px;
}
#friendslist img {
    height:64px;
    width:64px;
    float:left;
}
#socialGraph .grid_1 {
    margin-top:20px;
}
#socialGraph .grid_1 > img {
    display:block;
    margin:72px 8px -72px -24px;
}
#profilePage .event {
    background:#b5d0d0;
    border-radius:4px;
    -moz-border-radius:4px;
    font-size:16px;
    margin-top:32px;
    margin-left:17px;
    float:right;
}
.event img {
    float:left;
    margin:8px 0 8px 8px;
}
.event img.speechballoon {
    margin-top:12px;
    /* <hack>  */
    margin-left:6px;
    position:relative;
    top:0;
    left:2px;
    /* </hack> */
}
.event form,
.event p {
    margin:8px 8px 8px 128px;
}
.event form {
    text-align:right;
}
.event p,
.event form textarea {
    background:#fff;
    border:2px solid #444;
    border-radius:8px;
    -moz-border-radius:8px;
    padding:4px;
    width:300px;
}
#wallPostForm span {
    float:left;
}
#eventStream {
    margin-bottom:16px;
}
#olderEvents a {
    font-size:16px;;
    text-align:center;
    background:#b5d0d0;
    border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -moz-border-radius:4px;
    height:32px;
    text-decoration:none;
    display:block;
    width:100%;
    line-height:32px;
    border:#b5d0d0 solid 2px;
}
#olderEvents a:hover {
    background:#fff;
    border:#444 solid 2px;
    border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -moz-border-radius:4px;
}
#olderEvents.inactive {
    
}

#footer {
    padding:8px 0;
    height:12px;
    border-top-left-radius:8px;
    -moz-border-radius-topleft:8px;
    border-top-right-radius:8px;
    -moz-border-radius-topright:8px;
}
#footer,
#footer a:visited,
#footer a {
    color:#ddd;
}
#footer a:hover,
#footer a:active {
    color:#fff;
}
